*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    /* ป้องกันการมีการเลื่อนบาร์ข้าง */
    background-image: url(./img/bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* title */
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: #292929;
}
.prevvv,
.nexttt{
    background: #8d8d8d;
    color: rgb(24, 23, 23);
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 2px black solid;
}
.prevvv:hover,
.nexttt:hover{
    transform: scale(1.08);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/block.png);
    width: 30vw;
    height: 50px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    border: 4px rgb(68, 68, 68) solid; 
    border-radius: 10px;
    font-size: 1.8vw;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(255, 0, 0, 0.5)
}
/* title */

/* mainbox */
.mainbox{
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    display: flex;
    grid-gap: 5px;
    background: #000;
    margin-top: 2vw;
    width: 99vw;
    height: 85vh;
    padding: 5px;
}
.inventory{
    background: transparent;
    width: 60vw;
    padding: 5px;

    display: flex;
    flex-direction: column;
}
.itembox{
    background: transparent;
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 5px;
    
}
.charactor-box{
    background: transparent;
    width: 30vw;
    padding: 5px;
}
.skillbox{
    background: transparent;
    padding: 5px;
    width: 10vw;
}
/* mainbox */

/* submainbox */
/* item 2*/
.itemboxed{
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.item-use,
.hp-and-mana-use{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-item-box,
.name-hp-box{
    width: 90%;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
    background: #000;
    color: white;
    border-radius: 10px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-hp-box{
    margin-top: 5px;
}
.screen-item,
.screen-hp{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
    width: 100%;
    height: 100%;
}

.wea-box,
.item-hp-box{
    width: 100%;
    height: 100%;
    border: 3px red solid;
    cursor: pointer;
    transition: 0.3s;
}
.wea-box img,
.item-hp-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* item 2*/
/* Charactor 3 */
.main-cha-box{
    background: #ffffff;
    height: 100%;
    width: 100%;
    /* margin: 5px 5px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cha-info{
    display: flex;
    flex-direction: column;
    border: #000 2px solid;
    height: 100%;
}
.name-cha-box{
    width: 90%;
    height: 40px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    background: #000;
    color: white;
    border-radius: 10px;
    border: 2px solid red;
}
.img-cha-box{
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 5px;
    width: 97%;
    height: 100%;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background: #292929;
    transition: 0.3s;
    cursor: pointer;
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        /* ปรับตำแหน่งขึ้น */
    }

    100% {
        transform: translateY(0);
    }
}
.img-cha-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: moveUpDown 1s infinite;
    transition: transform 0.3s ease;
}
.img-cha-box:hover {
    transform: scale(1.02);
    /* ย้ายรูปภาพขึ้น */
}
/* Charactor 3 */
/* skill 4 */
.main-skill-box{
    background: #ffffff;
    height: 100%;
    width: 100%;
    /* margin: 5px 5px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skill-box-img-main,
.player-info{
    border: 2px black solid;
    border-radius: 5px;
    height: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.name-skill-box{
    width: 90%;
    height: 40px;
    margin: 5px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 5px;
    background: #000;
    color: white;
    border-radius: 10px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-playper-info-box{
    width: 90%;
    height: 40px;
    margin: 5px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 5px;
    background: #000;
    color: white;
    border-radius: 10px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillbox-sub-img{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}
.borderImg{
    width: 60%;
    height: 100%;
    margin-bottom: 2px;
}
.bira{
    margin-top: 2px;
}
.img-skill{
    border: 3px red solid;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.img-skill:hover{
    transform: scale(1.04);
    cursor: pointer;
}
.img-skill img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.playerinfo-sub{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}
.basicskill{
    width: 100%;
    height: 50%;
    margin-right: 5px;
    background: #292929;
    color: white;
    padding: 5px;
}
.basicskill h4{
    color: red;
}
.advanceskill{
    width: 100%;
    height: 50%;
    background: #292929;
    color: white;
    padding: 5px;
}
.advanceskill h4{
    color: red;
}
/* skill 4 */
/* inventory */

.select-in-and-skil{
    display: flex;
}
.inv{
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 5px;
    background: #000;
    color: white;
    border-radius: 10px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.inv:hover{
    transform: scale(1.03);
    background: rgb(170, 18, 18);
    color: black;
}
.ski:hover{
    transform: scale(1.03);
    background: rgb(170, 18, 18);
    color: black;
}
.ski{
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 5px;
    background: #000;
    color: white;
    border-radius: 10px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.main-inventory {
    background: #ffffff;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.inventorycard{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
}
.contaner-carddd{
    width: 100%;
    height: 100%;
}
.invent-box-sub-front,
.invent-box-sub-back{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 3px;
    width: 100%;
    height: 100%;
    padding: 3px;
    margin-top: 3px;
    background: #000;
    border-radius: 5px;

    position: absolute;
}
.invent-box-sub-front{
    z-index: 2;
    backface-visibility: hidden;
}
.invent-box-sub-back{
    z-index: 1;
    transform: rotateY(180deg);
}
/* .contaner-carddd:hover .inventorycard{
    transform: rotateY(180deg);
} */
.show-back .inventorycard {
    transform: rotateY(180deg);
}
.boxxxxx{
    color: white;
    border: 1px red solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    cursor: pointer;

    transition: 0.3s;
}
.boxxxxx:hover{
    transform: scale(1.05);
}
.boxxxxx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* inventory */

.name-of-user-choose{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 5px;
    background: #000;
    color: white;
    border-radius: 10px;
    border: 2px solid red;
}

/* submainbox */


/* modal inventory */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-right: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 99;

    opacity: 0;
    transition: ease-in-out 1s opacity 1s;
    transform: translateX(200px);
}
.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}
.modal-card-detail-show{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    border-radius: 10px;
    background: #b6b6b6;
    z-index: 10;
    padding: 20px;
    border: 1px red solid;
    padding: 5px;
}
.namecard{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    background: #000;
    color: white;
    border-radius: 10px;
    border: 2px solid red;

    display: flex;
    align-items: center;
    justify-content: center;
}
.detia-item{
    display: flex;
    height: 40%;
    width: 100%;
}
.img-item-this-show{
    width: 100%;
    height: 100%;
}
.imgitem-g{
    width: 100%;
    height: 100%;
    border: 4px red solid;
    border-radius: 50%;
}
.detail-item-this-show{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
}
.detail-item-this-show-name{
    color: white;
    background-color: #292929;
    border: 2px red solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
    padding: 5px;
}
.detail-this-this-item{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
}
.stat{
    background: #000;
    color: white;
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 2px red solid;
}
.basic_ad-item{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 100%;
    width: 100%;
}
.basicitem-de{
    width: 50%;
    border: 2px black solid;
    border-radius: 10px;
    margin-right:5px ;
    height: 100%;
    text-align: center;
}
.advanceitem-de{
    width: 50%;
    border: 2px black solid;
    border-radius: 10px;
    margin-left: 5px;
    text-align: center;
}
/* modal inventory */